.gameBoard{
    background-color: var(--white);
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 12px;
}
.gameOptions{
    box-sizing: border-box;
    border-radius: 8px;
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
    grid-template-columns: repeat(9, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    background-color: var(--gray);
    height:fit-content;
}
.gameOption{
    text-align: center;
    background-color: var(--white);
    width: 3rem;
    border-radius: 6px;
    height: fit-content;
    padding: 0.5rem 1rem;
}
.gameCategories{
    border-radius: 8px;
    display: grid;
    gap: 3rem;
    border-radius: 8px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1rem;
}

.gameCategoriesTitle {
    background-color: var(--purple);
    text-align: center;
    padding: 0.5rem 1rem;
    color: var(--white);
    border-radius: 6px 6px 0 0;
}

.gameCategoriesChoices{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var(--gray);
    padding: 0.5rem;
    min-height: 120px;
    border-radius: 0 0 6px 6px; 
}

.gameOption.empty {
    background-color: transparent !important;
}

.finishButton {
    display: block;
    margin: 2rem auto;
    padding: 0.75rem 1.5rem;
    background-color: var(--purple);
    color: var(--white);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.finishButton:disabled {
    background-color: var(--gray);
    cursor: not-allowed;
}

.buttonContainer{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1rem;
    margin-top: 1rem;
}

.scoreTitle{
    font-size: 1.65rem;
    text-align: center;
    background-color: var(--gray);
    color: var(--black);
    padding: 0.1rem 0.1rem;
    border-radius: 12px;
}

.dialogTitle{
    font-size: 2rem;
    text-align: center;
    /* background-color: var(--gray); */
    color: var(--black);
    padding: 0.1rem 0.1rem;
    border-radius: 12px;
}

.imageContainer{
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    display: block;
    margin: -4rem auto;
    position: relative;
    top: -2.25rem;
    /* z-index: 10; */
}

.containerButton{
    display: flex;
    
}
.buttonSalir{
    display: block;
    margin: 2rem auto;
    padding: 0.75rem 1.5rem;
    background-color: var(--purple);
    color: var(--white);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.modalContent{
    text-align: center;
    width: 500px;
}

#modalContainer{
    /* position: absolute; */
    top: 350px;
    right: 900px;
    bottom: 0px;
    left: 0;
}

#divierteteParrafo{
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: bold;
}

.buttonSalir {
    background-color: var(--redPurple);
}