:root{
  --orange: #f19f52;
  --purple: #66559b;
  --redPurple: #9e4961;
  --lightRed: #bf6a6a;
  --white: #fffbf0;
  --gray: #eceae0;
  --black: #222222;

  font-size: 24px;
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: var(--orange);
  padding: 2rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, button{
  transition: 0.2s ease-in !important;
  all: unset;
  cursor: pointer;
  padding: 0.75rem 2.5rem;
  border-radius: 6px;
  color: var(--white);
  background-color: var(--purple);
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-block-start: 1rem;
}

td, th, tr {
  text-align: center !important;
}

td > * {
  margin: auto !important;
}

a:hover, button:hover {
  background-color: #a083b3 !important;
}

dialog{
  background-color: var(--white);
  padding: 1rem;
  border: none;
  border-radius: 12px;
  overflow: visible;
}
.buttonSalir:hover{
 background-color: rgb(235, 101, 101) !important;
}
input {
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid var(--black);
}
