.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: var(--gray);
    width: fit-content;
    padding: 2rem;
    border-radius: 12px;
}
.login-container form{
    display: inherit;
    flex-direction: column;
    align-items: center;
}
.login-container h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.form-group {
    width: fit-content;
    margin-bottom: 1rem;
}

.form-group label {
    margin-bottom: 0.25rem;
    display: block;
}

.form-group input {
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.login-button {
    width: fit-content;
    color: var(--white);
    background-color: var(--purple);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: var(--purple);
}
