.informationContainer{
    text-align: center;
    margin: auto;
    background-color: var(--white);
    width: fit-content;
    padding: 1.5rem;
    color: var(--white);
    border-radius: 12px;
    color: var(--black);
}

input {
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid var(--black);
}