.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 2rem;
}

.header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-end; 
    position: relative;
}

.loginIcon img {
    width: 20px; /* Tamaño más pequeño para el ícono */
    height: 20px;
    filter: invert(1); /* Color blanco */
}

.headerContent {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: fit-content;
}

.bigLogo {
    width: 25rem; /* Tamaño tase */
    height: auto;
}

.mainMenuContainer {
    background-color: var(--white);
    border-radius: 12px;
    width: fit-content;
    padding: 2rem;
    text-align: center;
}

.App h1 {
    font-size: 2.5rem;
    margin: 0;
}

.App p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

a {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}

a:hover {
    background-color: #6a1b9a;
}
