.nuevoPacienteForm{
    background-color: var(--white);
    width: fit-content;
    padding: 1.5rem;
    margin: auto;
    border-radius: 12px;
}
.formGroup{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.input-paciente {
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.success, .error{
    color: var(--redPurple);
    text-align: center;
}

#nombre {
    width: 10rem;
}

#apellido {
    width: 10rem;
}

#fechaNacimiento {
    width: 7rem;
}

#cedula {
    width: 7rem;
}

