.table-container {
    width: 80%;
    margin: 20px auto;
    text-align: center;

    align-items: center;
    background-color: var(--gray);
    padding: 2rem;
    border-radius: 12px;    

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--gray);
  }

  .error-message {
    color: var(--lightRed);
    font-size: 0.75rem;
  }
  