.informationContainer{
    text-align: center;
    margin: 0 auto;
    background-color: var(--white);
    width: fit-content;
    padding: 1.5rem;
    border-radius: 12px;
    color: var(--black);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--gray);

}

.formCedula{
    display:"flex";
    gap: "1rem";
    justify-content: center;
}

.verificarCedulaButton{
  all: unset;
  cursor: pointer;
  padding: 0.75rem 3.5rem;
  border-radius: 6px;
  color: var(--white);
  background-color: var(--purple);
  display: block;
  width: fit-content;
}

#inputCedula{
    text-align: center;
}

#grayText{
    color: var(--orange);
    font-size: 0.75rem;
}
